@import './variables.scss';

.card {
    border-radius: 10px;
    color: $font_light;

    &__top {
        display: flex;
        align-items: center;
        background-color: $primary;
        border-radius: 10px;
        padding: 10px 16px;

        &_center {
            justify-content: center;
        }
    }

    &__title {
        font-size: 24px;

        &_small {
            font-size: 20px;
        }

        @media (max-width: $d_sm) {
            font-size: 20px;
        }
    }

    &__body {
        font-size: 16px;
        line-height: 22px;
        color: $secondary;

        &_p16 {
            padding: 10px 16px;
        }

        &_p10 {
            padding: 10px;
        }
    }
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;

    &_form {
        width: 100%;
    }

    &_form > button {
        &:not(:last-child) {
            margin-right: 16px;
        }
    }

    & > button {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}

.btn-icon {
    border-radius: 50%;
    border: none;
    padding: 5px;
    font-size: 18px;
    background-color: transparent;
    color: $font_light;
    transition: .2s;
    caret-color: transparent;

    &:hover, &:focus-visible {
        background-color: $font_light;
        color: $primary;
    }

    &_darken {
        background-color: $secondary;
        color: $font_light;

        &:hover, &:focus-visible {
            background-color: $font_light;
            color: $secondary;
        }
    }

    &_mini {
        padding: 5px;
        font-size: 12px;
    }

    &_radius10 {
        border-radius: 10px;
    }
}

.input {
    height: 30px;
    border: 1px solid $secondary;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: transparent;
    margin-bottom: 16px;
    transition: .2s;

    &__textarea {
        resize: none;
        height: 240px;
        margin-bottom: 16px;
    }

    &:focus {
        box-shadow: 0px 0px 5px 3px rgba(17, 18, 29, 0.25);
    }
}

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 100vw;
    height: 100vh;
     

    @media (min-width: $d_sm) {
        transform: translateY(-15vh);
    }

    &__wrapper {
        width: 100%;
        max-width: 500px;
    }

    &__top {
        border-radius: 10px 10px 0px 0px !important;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__label {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 5px;
        align-self: flex-start;
        font-size: 20px;

        @media (max-width: $d_sm) {
            font-size: 18px;
        }
    }

    &__btn {
        margin-bottom: 10px;
    }

    &__link {
        color: rgb(0, 0, 214) !important;
        
        &:hover {
            text-decoration: underline;
        }
    }

    &__spinner {
        width: 20px;
        height: 20px;
        margin: 0 !important;
    }
}